<div class="jumbotron">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <h1 class="display-3">Grapevine</h1>

        <p>Welcome to Grapevine, part of the Gossip MUD chat network.</p>
      </div>

      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>
